.all-features img {
  width: 100vw;
  aspect-ratio: 3 / 1;
}

.feature-button {
  display: flex;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 30px;
}

.feature-registration {
  width: 100vw;
  aspect-ratio: 3/ 1;
  font-size: 30px;
}

.feature-registration img {
  background-repeat: no-repeat;
}

@media (max-width: 480px) {
}
